<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Knowledge</title>
    <link rel="stylesheet" href="static/css/sidebar.css" />
    <link rel="stylesheet" href="static/css/basic.css" />
</head>
<body>
    <div class="main-container">
        <!-- Sidebar (Fixed) -->
        <aside class="sidebar">
            {% include 'dashboard/sidebar.html' %}
        </aside>
        <!-- Main Content (Scrollable) -->
       
    </div>
</body>
</html>