<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edu.ai Chat</title>
  <!-- Include all CSS files -->
  <link rel="stylesheet" href="static/css/basic.css" />
  <link rel="stylesheet" href="static/css/sidebar.css" />
  <link rel="stylesheet" href="static/css/gk.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <!-- Include Sidebar -->
    {% include 'dashboard/sidebar.html' %}

    <main class="gk-container initial">
        <h1 id="welcome-text">General Knowledge</h1>
        
        <!-- Container for the article -->
        <div class="content-container">
            <!-- Dynamic news content will be inserted here by JavaScript -->
        </div>

    </main>
  </div>

  <!-- Your chat script -->
  <script src="static/js/gk.js"></script>
</body>
</html>
